import { Meta, Preview, Props, Story } from '@storybook/addon-docs/blocks';
import { {{pascalCase name}} } from '../{{lowerCase name}}/{{lowerCase name}}.component';

<Meta
  title="2-Components/{{pascalCase name}}"
  component={ {{pascalCase name}} }
  decorators={[storyFn => <div>{storyFn()}</div>]}
/>

# {{pascalCase name}}

The `<{{pascalCase name}}/>` Component.

<Props of={ {{pascalCase name}} } />

## Default

<Preview>
  <Story name="Default">
    <{{pascalCase name}} text={'Hello from {{pascalCase name}} component'}/>
  </Story>
</Preview>
